//- Used https://html-to-pug.com/ on my original order.html file
doctype html
head
    title Ordering Form
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/static/css/main.css')
    script(src='/static/js/order.js')
// Links
include nav_bar
#title.flex-container
    h2 Place an Order
#response-message.flex-container(style='margin: 20px 20px; justify-content: center;')
// Big form to create new orders
form#form-collection.flex-container(method='POST' action='/order')
    // Choose the item
    .form-group
        label(for='product') Select a product:
        select#product(name='product' required='')
            // Honestly I wish I could implement this in a more dynamic way because adding/removing items is a pain in the butt
            option(value='') None selected
            option(value='Angry stickman') Angry stickman - $5.99
            option(value='Wobbly stickman') Wobbly stickman - $7.00
            option(value='Pleased stickman') Pleased stickman - $6.25
    // Item quantity
    #quantity_field.form-group
        label(for='order_quantity') Quantity:
        input#order_quantity(type='number' name='order_quantity' required='' min='1')
    // Dynamic cost display
    #total_cost(style='display: none; font-size: 20px; font-weight: bold; margin-top: 10px;')
    // Radio buttons for shipping
    .form-group
        label Shipping Method:
        div
            input#flat(type='radio' name='shipping_option' value='Flat rate' required='')
            label(for='flat') Flat rate
            br
            input#ground(type='radio' name='shipping_option' value='Ground' required='')
            label(for='ground') Ground
            br
            input#expedited(type='radio' name='shipping_option' value='Expedited' required='')
            label(for='expedited') Expedited
            br
    // Sender box
    .form-group
        label(for='sender') From:
        br
        textarea#sender(name='sender' placeholder='Please input sender name...' required='' rows='4' cols='50') customer_name_placeholder
        //Need to replace this with JS stuff.
    // Recipient/Address text box
    .form-group
        label(for='recipient') Recipient name and address:
        br
        textarea#recipient(name='recipient' placeholder='Please input recipient name and address separated by ":"' required='' rows='4' cols='50')
    // Notes text box
    .form-group
        label(for='notes') Additional notes:
        br
        textarea#notes(name='notes' placeholder='Any special requests?' rows='4' cols='50')
    .form-group(style='flex-direction: row; align-items: center;')
        input#remember_me(type='checkbox' name='remember_me' value='true' checked='')
        label(for='remember_me' style='margin-left: 5px; font-weight: normal;') Remember me?
    .form-group
        button(type='submit') Submit
        button#prefill_button(type='button') Prefill Form
