//- Used https://html-to-pug.com/ to convert my original about page

doctype html
head
    title Stick It to the Man
    meta(charset='UTF-8')
    link(rel='stylesheet' type="text/css" href='/css/main.css')
    link(href='https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap' rel='stylesheet')
body
    // Links
    include nav_bar
    // Title
    #title.flex-container
        h1.irish-grover-regular Stick It to the Man!
    #main-page.flex-container
        // Cover image
        #image-bar.flex-container
            img(src='/images/main.png' alt='Made with love, not code' width='300')
        // Body text
        #body-text.flex-container
            h3.header About:
            p.body-paragraph
                | Do you&nbsp;
                strong hate
                |  AI art stealing jobs from real artists? Do you have too much money you don&apos;t want?
                |  Well do we have the product for you! We have some awesome stick men&nbsp;
                em stick
                | -ers for sale that go straight to your door step!
                |  Screw selling on Amazon, they don&apos;t need your business. Buy some handcrafted, totally awesome art from us! Benefits include:
            ul
                li
                    p
                        em Stick
                        | -ing it to the man
                li
                    p Supporting local artists
                li
                    p Having awesome stickers to totally not vandalize stuff with
            h3.header Our goal:
            p
                | At&nbsp;
                em Stick It to the Man
                | , we want to show that people still care about artists. We hire local illustrators, and would
                em  never
                |                 rely on AI art to create our products. Additionally, we donate all profits to the&nbsp;
                a(href='https://www.mnartistsguild.com/') Minnesota Arts Guild
                | .
            br
            p
                | Note:&nbsp;
                em Stick It to the Man
                |  and its employees do&nbsp;
                strong not
                |   condone vandalism over AI art.
            p(style='font-size: 20px;') (But if you do, please tag us on social media so we can see)
            // Staff pictures section
            h3.header Meet the Staff!
            .staff-grid
                .staff-member
                    img.staff-photo(src='/images/alicejohnson.jpg' alt='Alice Johnson')
                    p.staff-name Alice Johnson
                    p.staff-title Lead Illustrator
                .staff-member
                    img.staff-photo(src='/images/bobsmith.jpg' alt='Bob Smith')
                    p.staff-name Bob Smith
                    p.staff-title Marketing Manager
                .staff-member
                    img.staff-photo(src='/images/carollee.jpg' alt='Carol Lee')
                    p.staff-name Carol Lee
                    p.staff-title Customer Support
                .staff-member
                    img.staff-photo(src='/images/davidkim.jpg' alt='David Kim')
                    p.staff-name David Kim
                    p.staff-title Operations Manager
