//Used html-to-pug.com to convert my original order_fail file (although I'm not even 100% sure if I use this anymore).
doctype html
head
    title Order Failed
    link(rel='stylesheet' href='/css/main.css')
    meta(charset='UTF-8')
ul.nav-bar
    li
        a.nav-button(href='/about') Home page
    li
        a.nav-button(href='/orders') Orders (admin)
    li
        a.nav-button(href='/order') Place Order
#title.flex-container
    h2 Order Failed
#body-text.flex-container(style='width: 60%; margin: 0 20%')
    p
        | Your order could not be placed/updated. Please ensure all fields are filled out correctly and try again.
        | Possible common errors include trying to modify/cancel an already cancelled or completed order.
    p
        a(href='/order') Return to the order form.
